

.header{

    height: 70px;
    display: grid;
    grid-template-columns: 100px 200px;

    
    .header__logo{
        margin-top: 30px;
        grid-column : 1;
        width: 100px;
        height: 100px;
        position: relative;
        bottom: 10px;
        
        img{
            width: 100%;
            border-radius: 50%;
            box-shadow: 10px -10px teal;
        }
    }

    .header__menu{
        padding-top: 10px;
        
        ul{
            li{
                list-style: none;
                display: inline;
                margin-right: 40px;
                font-size: 25px;
                font-weight: bold;
            }
        }

    }

}

