.modal{
    position: fixed;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    visibility: hidden;


    .modal__content{
        width: 50%;
        height: 90%;
        background-color: #fefefe;
        margin: 40px auto;
        border: 1px solid rgb(218, 218, 218);
        border-radius: 30px;

    }
    .modal__title{
        width: auto;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        height: 50px;
        padding-top:20px;
        text-align: center;
        background-color: #f44336;
        color: white;
        font-size: 25px;
        position: relative;

        .modal__close{
            padding: 10px;
            height: 30px;
            width: 30px;
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 20px;
            margin-top: 10px;
            cursor: pointer;
            border-radius: 50%;
            font-weight: bold;
        }

        .modal__close:hover{
            background-color: white;
            color: #f44336;
           
        }
    }
    .modal__body{
        width: auto;
        padding: 10px;
        margin-top: 1px;
        height: 80%;
        overflow-y: auto;
    }


    @media (max-width: 1200px) {
        .modal__content{
            width: 70% ;
        }
    }

    @media (max-width: 900px) {
        .modal__content{
            width: 95% ;
        }
    }

}


