.nav-app{
    display: none;
    
    .nav-app__btn{
        margin-top: 20px;
        margin-right: 5px;
        position: fixed;
        z-index: 6;
        top: 0;
        right: 0;
        
        button{
            background-color: white;
            text-decoration: none;
            border: none;
            
            img{
                width: 40px;
                height: 40px;
            }
        }
    }
    .nav-app__menu {
        position: fixed;
        z-index: 5;
        width: 300px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: white;

        .nav-app__logo{
            text-align: center;
            img{
                margin-top: 30px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                box-shadow: 10px -10px teal;
            }
        }
        .nav-app__options{
            margin-top: 15px;


            .nav-app__option{  
                cursor: pointer;              
                width: 100%;
                margin-top: 10px;
                text-decoration: none;
                border: none;
                text-align: left;
                padding: 15px;
    
                img{
                    width: 30px;
                    height: 30px;
                }
                span{
                    margin-left: 5px;
                    font-size: 15px;
                    padding: 8px;
                    margin-top: 10px;
                    position: relative;
                    bottom: 10px;
                    width: 200px;
                    color: black;
                    border-top-right-radius: 50%;
                    border-bottom-left-radius: 50%;
                    padding: 10px;
                }
    
            }
    
        }

    }

    @media (max-width: 700px) {
        display: block;
    }
}
