
.body__pizza{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    column-gap: 1px;
    row-gap: 35px;
    justify-items: center;
    
}

.pizza{
    cursor: pointer;
    display: grid;
    width: 400px;
    height: 150px;
    border: 1px solid rgb(236, 235, 235);
    border-radius: 20px;
    grid-template-columns: 150px 250px;
    position: relative;
    
    .pizza__image{
        width: 100%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }
    .pizza__information{
        padding: 5px;

        p{
            margin: 0;
        }
        
        .pizza__name{
            margin-top: 10px;
            font-size: 18px;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .pizza__description{
            margin-top: 10px;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 15px;
        }
        
        .pizza__price{
            margin-top: 10px;
            font-weight: bold;
            font-size: 20px;
        }

        .pizza__check{
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            height: 30px;
            width: 30px;
            padding: 0;
            border: 0;
            z-index: 5;
            background-color: transparent;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    .pizza__detail{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        color: white;
        text-align: center;
        border-radius: 20px;
        visibility: hidden;
        opacity: 0;
  
        transition: visibility 0s linear 0.5s, opacity 0.5s;

        .pizza__title{
            font-size: 20px;
            font-weight: bold;
        }

        .pizza__ingredients{
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        
    }
    
}
.pizza:hover{

    .pizza__detail{
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.5s linear;
    }
}

@media (max-width: 700px) {
    .body__pizza{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: minmax(100px, auto);
        column-gap: 1px;
        row-gap: 35px;
        justify-items: center;
        
    }
    
    .pizza{
        display: grid;
        width: 300px;
        height: 300px;
        border: 1px solid rgb(236, 235, 235);
        border-radius: 20px;
        grid-template-columns: 100%;
        
        .pizza__image{
            width: 100%;
            height: 150px;
    
            img{
                width: 100%;
                height: 100%;
                border-radius: 0px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        }
        .pizza__information{
            padding: 5px;
    
            p{
                margin: 0;
            }
            
            .pizza__name{
                margin-top: 10px;
                font-size: 18px;
                font-weight: 500;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
    
            .pizza__description{
                margin-top: 10px;
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-size: 15px;
            }
            
            .pizza__price{
                margin-top: 10px;
                font-weight: bold;
                font-size: 20px;
            }
        }
    
    }
}
