@import './components/nav';
@import './components/header';
@import './components/pizza';
@import './components/balance';
@import './components/sales';

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    // overflow-x: hidden;
}

li,p,h1,h2,h3,h4,h5,h6,p,span {
    font-family: Montserrat;
}

.main-head {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 2;
    grid-area: header;

}
.content {
    margin-top: 100px;
    grid-area: content;
}
.main-nav {
    position: fixed;
    z-index: 1;
    margin-top: 100px;
    left: 15px;
    grid-area: nav;
}
.side {
    margin-top: 100px;
    grid-area: sidebar;
}
.ad {
    grid-area: ad;
}
.main-footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "header"
        "nav"
        "sidebar"
        "ad"
        "content"
        "footer";
}

@media (max-width: 699px) {
    .wrapper {
        grid-template-columns: 100%;
        grid-template-areas:
        "header"
        "content"
        "sidebar"
        "ad"
        "footer"
    }
    .main-nav{
        display: none;
    }
}


@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 50px 60% 28%;
        grid-template-areas:
        "header header  header"
        "nav content sidebar"
        "nav content ad"
        "footer footer  footer"
    }
}

@media (min-width: 1070px) {
    .wrapper {
        grid-template-columns: 50px 75% 15%;
        grid-template-areas:
        "header header  header"
        "nav content sidebar"
        "nav content ad"
        "footer footer  footer"
    }
}
@media (min-width: 1200px) {
    .wrapper {
        grid-template-columns: 50px 68% 25%;
        grid-template-areas:
        "header header  header"
        "nav content sidebar"
        "nav content ad"
        "footer footer  footer"
    }
}