@import './components/nav';
@import './components/header';
@import './components/pizza';
@import './components/balance';
@import './components/sales';

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

li,p,h1,h2,h3,h4,h5,h6,p,span {
    font-family: Montserrat;
}

.main-head {
    grid-area: header;

}
.content {
    grid-area: content;
}
.main-nav {
    grid-area: nav;
}
.side {
    grid-area: sidebar;
}
.ad {
    grid-area: ad;
}
.main-footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "header"
        "nav"
        "content"
        "sidebar"
        "ad"
        "footer";
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
        "header  header"
        "content content"
        "sidebar sidebar"
        "ad      ad"
        "footer  footer";
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
        "header header  header"
        "content content sidebar"
        "content content ad"
        "footer footer  footer"
    }

    nav ul {
        flex-direction: column;
    }
}